<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Flamingo</title>
</head>
<body>
    <form action="/flamingos" method="POST">
        <table>
            <tr>
                <td colspan=2>
                    <h1>Add a flamingo</h1>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Quote:</td>
                <td>
                    <input type="text" name="quote">
                </td>
            </tr>
            <tr>
                <td>
                    <button>Add Flamingo!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button><a href="/">All Flamingos</a></button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>